<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frontend with Links</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        a {
            display: block;
            margin: 10px 0;
            font-size: 18px;
            text-decoration: none;
            color: #007BFF;
        }
        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
<h1>Welcome to the Application Page</h1>
<h3>Here are 5 links:</h3>
<a href="https://www.google.com/" target="_blank">Google</a>
<a href="https://www.facebook.com/" target="_blank">Facebook</a>
<a href="https://www.instagram.com/" target="_blank">Instagram</a>
<a href="https://x.com/?lang=en&mx=2" target="_blank">Twitter</a>
<a href="https://gmail.com/" target="_blank">Gmail</a>
</body>
</html>
